@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  display: grid;
  /* grid-template-areas:
    'a b b b'
    'a c c c'
    'a c c c'
    'a c c c'; */
  grid-template-areas:
    'a b'
    'a c';
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}

.header {
  grid-area: b;
}

/*
============= 
DASHBOARD
=============
*/

.dashboard {
  grid-area: a;
  background-color: #0284c7;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.dashboard-title {
  margin-top: 40px;
  padding: 0 10px;
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.dashboard-header {
  font-size: 2rem;
  padding-right: 30px;
}

.dashboard-upper-list,
.dashboard-lower-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1rem;
}

.dashboard-list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  font-size: 1.3rem;
  padding-left: 10px;
}

.dashboard-list-item a {
  color: #fff;
  text-decoration: none;
}

.dashboard-list-item a:hover {
  color: #7dd3fc;
}

/*
============= 
HEADER
=============
*/

.header {
  background-color: #fff;
  padding: 10px 0 20px 0;
}

.upper-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 5rem;
}

.upper-header svg:hover {
  cursor: pointer;
  fill: #38bdf8;
}

.notifications:hover {
  cursor: pointer;
}

.search-bar-container {
  display: flex;
  align-items: center;
  width: 50%;
  gap: 1rem;
}

.search-bar {
  width: 100%;
  height: 4vh;
  border-radius: 20px;
  border: none;
  font-size: 1.3rem;
  padding-left: 10px;
  background-color: #e2e8f0;
}

.img-container {
  width: 50px;
  height: 50px;
  background-image: url(./beansy-baby.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}

.user-name {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

.search-bar:focus {
  outline: 1px solid #475569;
}

.upper-header-controls {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.lower-header {
  display: flex;
  justify-content: space-around;
}

.img-container-lg {
  width: 100px;
  height: 100px;
  background-image: url(./beansy-baby.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}

.lower-header .header-text {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header-text-inner {
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.user-name-lg {
  font-size: 1.5rem;
}

.btns-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btns-container button {
  padding: 10px 30px;
  border-radius: 20px;
  color: #fff;
  background-color: #0284c7;
  border: none;
  font-size: 1rem;
}

.btns-container button:hover {
  cursor: pointer;
  background-color: #38bdf8;
}

/*
============= 
MAIN
=============
*/

main {
  grid-area: c;
  background-color: #e2e8f0;
}

.titles-grid {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  padding: 20px 25px;
  gap: 2rem;
}

.announcements-header {
  grid-column-start: 3;
  text-align: left;
}

.main-grid {
  display: grid;
  grid-template-areas:
    'a b c'
    'd e c'
    'f g c';
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
  padding: 0 25px 25px 25px;
  height: 90%;
}

.card {
  border-left: 10px solid #0284c7;
  border-radius: 10px;
  position: relative;
  padding: 20px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  background: #fff;
}

.card-icons {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 20px;
  bottom: 20px;
  gap: 1rem;
}

.card-1 {
  grid-area: a;
}
.card-2 {
  grid-area: b;
}
.card-3 {
  grid-area: d;
}
.card-4 {
  grid-area: e;
}
.card-5 {
  grid-area: f;
}
.card-6 {
  grid-area: g;
}

.card-header {
  margin-bottom: 5px;
}

.card-text {
  color: #475569;
}

.card-icons svg:hover {
  cursor: pointer;
  fill: #94a3b8;
}

.right-side {
  grid-area: c;
  display: flex;
  flex-direction: column;
}

.announcements {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 40px;
  padding: 20px;
}

.announcement-text {
  color: #64748b;
  font-size: 0.85rem;
  line-height: 1.5;
}

.announcement-heading {
  margin-bottom: 6px;
}

.underline {
  text-decoration: underline;
  background-color: #cbd5e1;
  height: 1px;
  width: 100%;
  margin-top: 10px;
}

.trending {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  justify-content: center;
}

.trending-header {
  margin-bottom: 20px;
}

.trending-item {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.trending-icon {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.dood {
  background-image: url(./dood.jpg);
}

.ping {
  background-image: url(./ping.jpg);
}

.crump {
  background-image: url(./crump.jpg);
}

.trending-caption {
  color: #64748b;
}

/*
============= 
PROJECTS
=============
*/

/* .main-content {
  grid-area: c;
  display: grid;
  grid-template-areas: 'a b';
  grid-template-columns: 5fr 2fr;
  background-color: #94a3b8;
}

.cards {
  grid-area: a;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  padding-left: 10px;
}

.card-heading-container {
  padding-top: 15px;
}

.card-heading-container h3 {
  padding-left: 30px;
  font-size: 1.5rem;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  padding: 30px;
  padding-bottom: 50px;
}

.card {
  border-left: 10px solid #0284c7;
  border-radius: 10px;
  position: relative;
  padding: 20px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  background: #fff;
}

.card-icons {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 20px;
  bottom: 20px;
  gap: 1rem;
}

.card-icons img:hover {
  cursor: pointer;
}

.card-header {
  margin-bottom: 5px;
} */

/*
============= 
PROJECTS
=============
*/

/* .main-right-side {
  grid-area: b;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 2.5rem;
}

.announcements {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 2.2rem;
}

.announcements-heading-container {
  margin-top: 15px;
}

.announcements-container {
  background-color: #fff;
  width: 90%;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.announcement {
  flex: 1;
}

.announcement-heading {
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.trending-container {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 90%;
}

.main-content-heading {
  border: 1px solid red;
  font-size: 1.5rem;
}

.trending-header {
  margin-bottom: 20px;
} */
