@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  display: grid;
  /* grid-template-areas:
    'a b b b'
    'a c c c'
    'a c c c'
    'a c c c'; */
  grid-template-areas:
    'a b'
    'a c';
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 15vh auto;
}

.header {
  grid-area: b;
  border: 1px solid red;
}

.dashboard {
  grid-area: a;
  border: 1px solid green;
  background-color: #0284c7;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.dashboard-title {
  margin-top: 40px;
  padding: 0 10px;
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.dashboard-header {
  font-size: 2rem;
}

.dashboard-upper-list,
.dashboard-lower-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1rem;
}

.dashboard-list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  font-size: 1.3rem;
  padding-left: 10px;
}

.dashboard-list-item a {
  color: #fff;
  text-decoration: none;
}

.dashboard-list-item a:hover {
  color: #7dd3fc;
}

.main-content {
  grid-area: c;
  display: grid;
  grid-template-areas: 'a b';
  grid-template-columns: 5fr 2fr;
  border: 1px solid blue;
}

.main-right-side {
  grid-area: b;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.cards {
  grid-area: a;
  border: 1px solid red;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 2rem;
}

.cards-container {
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.announcements {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 10fr;
}
